@font-face {
	font-family: FM;
	src: url('./Figtree-Medium.ttf');
}

@font-face {
	font-family: FL;
	src: url('./Figtree-Light.ttf');
}

@font-face {
	font-family: FB;
	src: url('./Figtree-Bold.ttf');
}